.sidebar {
  gap: 2rem;
  padding: 2rem;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.8px);
  border: 1px solid rgba(255, 255, 255, 0.19);

  grid-area: sidebar;
}

.dark-mode .sidebar {
  background: rgba(255, 255, 255, 0.089);
  box-shadow: 0 4px 30px rgba(185, 175, 175, 0.295);
  border: 1px solid rgba(255, 255, 255, 0.733);
}

.home {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "sidebar maincard highlight"
    "sidebar forecast forecast";
  gap: 3rem;
}

@media only screen and (max-width: 1278px) {
  .home {
    grid-template-columns: repeat(2, 40rem);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "sidebar sidebar"
      "maincard highlight"
      "forecast forecast";
  }
  .stn-forecast {
    justify-self: center;
  }

  main {
    width: fit-content;
  }

  nav button {
    width: fit-content;
  }
  .nav {
    flex-direction: row;
    margin-bottom: 1rem;
  }
  .searchbar {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
}
@media only screen and (max-width: 965px) {
  .home {
    grid-template-columns: repeat(1, 50rem);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "sidebar "
      "maincard "
      " highlight"
      "forecast ";
  }

  .home .stn-forecast {
    width: 50rem;
  }
  .home .stn-highlight .wind,
  .home .stn-highlight .humidity {
    width: 21rem;
    justify-self: center;
  }
}

@media only screen and (max-width: 615px) {
  html {
    font-size: 50%;
  }
  body {
    padding: 1rem;
  }
  body main {
    padding: 2rem;
  }
  nav button {
    width: 100%;
  }

  .home .searchbar {
    flex-direction: column;
    gap: 2rem;
  }
  .home .searchbar input {
    width: 23rem;
  }

  .nav {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .home {
    grid-template-columns: repeat(1, 35rem);
  }

  .home .stn-highlight .cards-wrapper {
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "wind"
      "humidity"
      "sunset "
      "sunrise ";
    gap: 1rem;
  }

  .home .stn-highlight .wind,
  .home .stn-highlight .humidity {
    width: 100%;
    justify-self: center;
  }
  .home .stn-forecast {
    width: 35rem;
  }

  .home .switch {
    width: 40px;
    height: 25px;
    border-radius: 20px;
    padding: 2px;
  }

  .home .switch div {
    width: 20px;
    height: 20px;
  }
  .home .switch.off .icon svg {
    width: 20px;
    height: 20px;
  }
  .home .switch.on .icon svg {
    width: 20px;
    height: 20px;
  }
}
