.searchbar input {
  width: 22rem;
  font-family: "Montserrat-Regular";
  font-size: 1.6rem;
  padding: 1rem;
  background: none;
  border: 1px solid white;
  border-radius: 15px;
  outline: none;

  color: #494949;
}

.input-wrapper {
  position: relative;
}
.btn-search {
  position: absolute;
  border-radius: 3rem;
  height: 100%;
  padding-right: 10px;
  padding-left: 10px;
  background: none;
  left: 18rem;
  border: none;
}
.btn-search svg {
  fill: #333333cc;
}
.btn-search svg:hover {
  fill: rgb(22, 22, 22);
}
.searchbar {
  gap: 2rem;
}
.dark-mode .searchbar input {
  background-color: rgba(235, 235, 235, 0.788);
}
