.searchbar input {
  width: 25rem;
  font-family: "Montserrat-Regular";
  font-size: 1.6rem;
  padding: 1rem 2rem 1rem 2rem;
  background: none;
  border: 1px solid white;
  border-radius: 15px;
  outline: none;

  color: #fff;
}

.input-wrapper {
  position: relative;
}
.btn-search {
  position: absolute;
  border-radius: 3rem;
  height: 100%;
  padding-right: 10px;
  padding-left: 10px;
  background: none;
  left: 21rem;
  border: none;
}
.searchbar {
  align-items: flex-end;
}
