nav button {
  width: 22rem;
  font-family: "Montserrat-Regular";
  font-size: 1.6rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.829);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: #333333cc;

  text-transform: uppercase;
}
nav button:hover {
  background-color: rgba(255, 255, 255, 0.562);
}
.nav {
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.dark-mode nav button {
  background-color: rgba(53, 53, 53, 0.904);
  border: 1px solid rgba(255, 255, 255, 0.274);

  color: #f5f3f3cc;
}
.dark-mode nav button:hover {
  background-color: rgba(255, 255, 255, 0.11);
}
