.maincard {
  width: 36rem;
  padding: 2rem;
  height: 50rem;

  background: rgba(255, 255, 255, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);

  border: 1px solid rgba(255, 255, 255, 0.36);
}
.maincard .location {
  background-color: #9eff4494;
  font-family: "Montserrat-Bold";
  letter-spacing: 0.5px;
  border-radius: 2rem;
  color: #5d5d5d;
  padding: 0.5rem 1.6rem;
}
.maincard .location svg {
  fill: #5d5d5d;
}

.temp-btn {
  font-family: "Inter";
  background: none;
  border: none;
  color: rgba(172, 172, 172, 0.692);
  font-size: 2rem;
  font-weight: 900;
  width: 3rem;
  height: 3rem;
}
.temp-active {
  font-family: "Inter";
  background: none;
  border: none;
  color: rgba(34, 34, 34, 0.692);
  font-size: 2rem;
  font-weight: 900;
  width: 3rem;
  height: 3rem;
}

.btn-temp-wrapper button:hover {
  text-decoration: underline;
}

.maincard .temp-now {
  font-family: "Inter";
  font-size: 4.2rem;
  font-weight: 900;

  color: rgba(0, 0, 0, 0.726);
}

.img-weather {
  width: 15rem;
}

.textbox-top {
  flex-direction: row;
  width: 100%;
  margin-bottom: 7rem;
  justify-content: space-between;
}
.textbox-bottom {
  width: 70%;
}
.left {
  align-self: flex-start;
}
.right {
  align-self: flex-end;
}
.dark-mode .maincard {
  background: rgba(255, 255, 255, 0.082);
}

.dark-mode .maincard .location {
  background-color: #ae23ffdc;

  color: #e9e8e8;
}

.dark-mode .temp-active {
  color: rgb(255, 255, 255);
}
.dark-mode .maincard .location svg {
  fill: #e9e8e8;
}
