@font-face {
  font-family: "Montserrat-Regular";
  src: url(/public/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(/public/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-Light";
  src: url(/public/fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(/public/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(/public/fonts/Inter_28pt-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;

  font-family: "Montserrat-Regular", "Inter", Helvetica, sans-serif;
}
:root {
  --bg-image: url(/public/img/day-bg.jpg);
}

body {
  margin: 0 auto;
  padding-right: 3rem;
  padding-left: 3rem;
  background-image: var(--bg-image);
  background-position: left top;
  background-size: cover;
  transition: background-image 0.3s ease;
}
body.dark-mode {
  --bg-image: url(/public/img/night-bg.jpg);
}
body main {
  max-width: 1180px;
  margin: 5rem auto;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);

  border: 3px solid rgba(255, 255, 255, 0.36);
}
img {
  max-height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  cursor: pointer;
}
.headline {
  font-family: "Montserrat-Medium";
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  color: rgb(87, 87, 87);
}
p {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.8rem;
}
h5 {
  font-size: 2rem;
  color: rgb(119, 119, 119);
  letter-spacing: 1px;
  font-family: "Montserrat-Medium";
}
h4 {
  font-size: 2.4rem;
  color: rgb(119, 119, 119);
  font-family: "Montserrat-Bold";
}
h3 {
  font-size: 3.6rem;
  font-family: "Montserrat-Bold";
  color: #000000c0;
}
h2 {
  font-size: 4rem;
}
.dark-mode h5 {
  color: rgb(228, 228, 228);
}

.dark-mode main {
  box-shadow: 0 4px 30px hsla(0, 0%, 73%, 0.582);

  border: 2px solid rgba(255, 255, 255, 0.952);
}

.dark-mode .headline {
  color: rgb(255, 251, 251);
}
.dark-mode h3,
.dark-mode h4,
.dark-mode p {
  color: #ffffff;
}
