@font-face {
  font-family: "Montserrat-Regular";
  src: url(/public/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(/public/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-Light";
  src: url(/public/fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(/public/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(/public/fonts/Inter_28pt-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Montserrat-Regular", Helvetica, sans-serif;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  border: 1px solid tomato;
}

img {
  max-height: 100%;
}
a {
  color: black;
  text-decoration: none;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  cursor: pointer;
}
