@font-face {
  font-family: "Montserrat-Regular";
  src: url(/public/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url(/public/fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Montserrat-Light";
  src: url(/public/fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url(/public/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(/public/fonts/Inter_28pt-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Montserrat-Regular", "Inter", Helvetica, sans-serif;
}
body {
  margin: 0 auto;
  padding-right: 3rem;
  padding-left: 3rem;
  background-image: url(/public/img/day-bg.jpg);
  background-position: left top;
  background-size: cover;
}
body .dark {
  background-image: url(/public/img/night-bg.jpg);
  background-size: contain;
}
body main {
  max-width: 1440px;
  margin: 5rem auto;
  padding: 3rem;
  background: rgba(255, 255, 255, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border: 3px solid rgba(255, 255, 255, 0.36);
}
img {
  max-height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  cursor: pointer;
}
.headline {
  font-family: "Montserrat-Medium";
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}
p {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.8rem;
}
h5 {
  font-size: 2rem;
  font-family: "Montserrat-Medium";
}
h4 {
  font-size: 2.4rem;
  font-family: "Montserrat-Bold";
}
h3 {
  font-size: 3.6rem;
  font-family: "Montserrat-Bold";
  color: #000000c0;
}
h2 {
  font-size: 4rem;
}
